<div class="container">
<h2 class="titre-learn">Qu'est ce qu'on apprend ?</h2>
    <div class="container-learn">

        <div class="learn-column-1">
            <h3><%= image_tag 'html5.png' %> HTML & CSS</h3>
            <p>La base ! Les premiers outils pour créer votre site web.</p>
            <h3><%= image_tag 'ruby.png' %> Ruby</h3>
            <p>Un langage de programmation simple et puissant.</p>
        </div>

        <div class="learn-column-2">
            <%= image_tag 'pc.png' %>
        </div>

        <div class="learn-column-1">
            <h3><%= image_tag 'rails.png' %> Rails</h3>
            <p>Le framework, qui vous permettra de faire du web facilement.</p>
            <h3><%= image_tag 'javascript.png' %> Javascript</h3>
            <p>React, Jquery, et autres langages super utiles</p>
        </div>

    </div>
</div>
