<!-- Calls the header in layouts -->
<%= render 'shared/header' %>

<div class="container">

 <section id="section1" class="home">
   <%= render 'shared/banner' %>
 </section>

 <section id="section2" class="intro">
    <%= render 'shared/intro' %>
 </section>

  <section id="section3" class="content">
    <div class="fondlearn">
      <%= render 'shared/learn' %>
    </div>
 </section>

 <section id="section4" class="newsletter">
   <%= render 'shared/newsletter' %>
 </section>

</div>
