<!-- Calls the header in layouts -->
<%= render 'shared/header' %>

<div class="container">

 <section id="section1" class="home">
   <%= render 'shared/banner' %>
 </section>

 <section id="section1" class="home">
    <%= render 'shared/intro' %>
 </section>

  <section id="section1" class="home">
    <div class="fondlearn">
      <%= render 'shared/learn' %>
    </div>
 </section>

 <section id="section1" class="home">
 	<%= render 'shared/card' %>
 </section>

</div>
