<!-- Calls the header in layouts -->
<%= render 'shared/header' %>

<div class="container body">

    <section id="section1" class="home">
        <%= render 'shared/banner' %>
    </section>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <section id="section2" class="home">
        <%= render 'shared/intro' %>
    </section>

    <section id="section3" class="home">
        <div class="fondlearn">
            <%= render 'shared/learn' %>
        </div>
    </section>

     <section id="section4" class="home">
     	<%= render 'shared/card' %>
     </section>

    <section id="section5" class="home">
        <div class="fondnewsletter">
            <%= render 'shared/newsletter' %>
        </div>
    </section>


</div>

<%= render 'shared/footer' %>

<button type="button" id="monBouton" onclick="topFunction()"><%= image_tag 'arrow.png' %></button>


